@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgba(32, 178, 171, 0.446);
}

header > h1 {
    text-align: center;
}

menu  ul {
    list-style-type: none;
    background-color: lightseagreen;
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: aquamarine;
}

article {
    width: 600px;
    display: block;
    margin: auto;
}